<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/embed.ejs') %> 
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/luna.png">
    <title>‎‎‏‏‎nyaanity.xyz | About Me</title>
</head>

<body class="w-full h-full bg-stars bg-pink-900 bg-blend-darken ml-px mt-px">
    <div class="title">
        <h1 class="animate-rbwiggle font-default text-center h-0 font-extrabold text-4xl mt-10">
            about me
        </h1>
    </div>
    <div class="languages mt-10 text-gray-800 font-mono">
        <ul>
            <li class="listitem-python mb-3">
                <img src="/assets/images/python.png" alt="python" class="w-6 inline"> Python
            </li>
            <li class="listitem-sql mb-3">
                <img src="/assets/images/sql.png" alt="sql" class="w-6 inline"> SQL
            </li>
            <li class="listitem-html mb-3">
                <img src="/assets/images/html.png" alt="html" class="w-6 inline"> HTML
            </li>
            <li class="listitem-css mb-3">
                <img src="/assets/images/css.png" alt="css" class="w-6 inline"> CSS
            </li>
            <li class="listitem-js mb-3">
                <img src="/assets/images/javascript.png" alt="javascript" class="w-6 inline"> JS
            </li>
        </ul>
    </div>
    <div class="description font-default text-white mt-16 border-2 rounded-2xl p-5 m-10 border-dotted border-blue-500 sm:mr-16 sm:ml-16 lg:ml-64 lg:mr-64 2xl:mr-96 2xl:ml-96">
        <div class="text-center">
            <p>
                Hi! My name's Nyaanity <span class="text-gray-700 font-bold">(Nyaa)</span>.
                <br>I love coding stuff while listening to
                <br>music and having some coffee nearby. :D
                <br>Beginning 2020 I started coding for fun and never lost interest in
                <br>writing code ever since.
                <br>I started with the language Python, and I'm still actively using it.
                <br>When I started coding, I mostly made some general purpose
                <br>Discord bots.
                <br>Now I'm coding this website to improve my coding skills even more!
            </p>
        </div>
    </div>
    <%- include('./includes/footer.ejs') %>
</body>
</html>